#root,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app {
    width: 600px;
    margin: 0 auto;
}

img {
    width: 100%;
    aspect-ratio: 1;
}

button {
    margin: 24px;
    padding: 12px 24px;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-para {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}